@charset "UTF-8";

.header > div {
    display: block;
}

.title-name > a {
	text-decoration: none;
	font-size: 50px;
	font-weight: bold;
}

.title-div > div {
    width: 100%;
    display: inline;
    box-sizing: border-box;
}

.title-div img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

/* 네비게이션 메뉴 스타일 */
.nav-menu {
	width: 100%;
	height: 100%;
    float: right; /* 오른쪽으로 정렬합니다. */    
  }

.nav-menu a {
	width: 180px;
    display: inline-block; /* 가로로 나열되도록 변경합니다. */
    text-decoration: none;
    padding: 10px; /* 위아래 좌우 여백 조절 */
    margin: 0 5px; /* 좌우 간격 조절 */
	font-size: 22px;
    color: rgb(85, 85, 85);
    /* background-color: #ccc; */
    /* border-radius: 5px; */
}