@charset "UTF-8";

  body {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                /* Normal font weight */
                margin: 0;
                padding: 0;
                background-color: #f8f9fa;
            }

            header {
                background-color: #343a40;
                color: #ffffff;
                text-align: center;
                padding: 1em;
                position: relative;
                max-width: 1000px;
                margin: 0 auto;
            }

            main {
                max-width: 1000px;
                margin: 20px auto;
                padding: 20px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                font-size: 20px;
            }

            footer {
                text-align: center;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #343a40;
                padding: 15px;
                max-width: 1000px;
                margin: 0 auto;
            }

            .checkout-btn {
                display: block;
                max-width: 1000px;
                margin: 20px auto;
                padding: 15px;
                background-color: #007bff;
                color: #ffffff;
                text-align: center;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color 0.3s;
            }

            .checkout-btn:hover {
                background-color: #0056b3;
            }

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            header h1 {
                margin: 0;
            }

            header a {
                padding: 10px;
                text-decoration: none;
                color: #ffffff;
            }

            .cart {
                width: 100%;
            }

            .market {
                margin-bottom: 20px;
            }

            .item-info img {
                max-width: 100%;
                max-height: 100%;
                margin-right: 10px;
            }

            .item-details {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            .item-quantity label {
                margin-bottom: 5px;
            }

            .subtotal {
                text-align: right;
                font-weight: bold;
                font-size: 18px;
                margin-top: 10px;
            }

            /* content 홍보리스트쪽 */
            .promotion {
                list-style: none;
            }

            .promotion a {
                text-decoration: none;
                color: black;
            }

            .profile>#profile_1,
            #profile_2 {
                display: inline-block;
                vertical-align: top;
                /* Align to the top */
            }

            #profile_1 img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                /* Make it round */
            }

            .product span {
                display: block;
            }

			#product{
			margin: auto;
			}
			
            .product {
                display: inline-block;
                border: 1px solid black;
                margin-right: 10px;
                /* Add some spacing between products */
                box-sizing: border-box;
                border-radius: 8px;
                /* Rounded border */
                cursor: pointer;
                /* Change cursor on hover */
                transition: background-color 0.3s;
                
            }

            .product:hover {
                background-color: #f5f5f5;
                /* Change background color on hover */
            }

            .product_options {
                margin-top: 10px;
            }

            .product_image {
                margin-top: 10px;
                width: 710px;
                height: 310px;
            }

            .product_image div {
                box-sizing: border-box;
            }

            ul {
                padding-left: 0px;
            }

            .product_image_1 {
                height: 300px;
                width: 400px;

                border-radius: 50px 0px 0px 50px;
            }

            .product_image_1>img {
                width: 100%;
                height: 100%;
                border-radius: 50px 0px 0px 50px;
     

            }

            .product_image_2 {
                height: 300px;
                width: 294px;
                  border: 2px solid white;

            }

            .product_image_2>div {
                height: 50%;
                width: 100%;


            }

            .product_image_2>.product_image_2_1 {
                border-radius: 0px 50px 0px 0px;
            }

            .product_image_2>.product_image_2_1>img {
                border-radius: 0px 50px 0px 0px;
                  border: 2px solid white;
                
            }

            .product_image_2>.product_image_2_2 {
                border-radius: 0px 0px 50px 0px;
            }

            .product_image_2>.product_image_2_2>img {
                border-radius: 0px 0px 50px 0px;
                  border: 2px solid white;
            }


            .product_image_2 img {
                width: 100%;
                height: 100%;
            }

            #profile_2_2>span {
                font-size: 15px;
                color: rgb(143, 143, 143);
            }

            .product_image .product_image_1,
            .product_image_2 {
                display: inline-block;
            }

            h2 {
                margin: 0;
                font-size: 18px;
                color: #007bff;
            }

            #filter>a {
                text-decoration: none;
                font-size: 20px;
                padding: 8px;
                margin-right: 20px;
                border-radius: 20px;
                background-color: rgba(220, 220, 220, 0.561);
                color: black;
                transition: background-color 0.3s, border-color 0.3s;
                /* Add transition effect */
                border: 1px solid transparent;
                /* Add border */


            }

            #loading {
                display: none;
                text-align: center;
                padding: 10px;
                border: 1px solid #ddd;
                background-color: #f9f9f9;
                position: fixed;
                bottom: 0;
                width: 100%;
            }

            .skeleton {
                background: #f0f0f0;
                animation: loading 1.5s infinite ease-in-out;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            @keyframes loading {
                0% {
                    opacity: 0.3;
                }

                50% {
                    opacity: 0.6;
                }

                100% {
                    opacity: 0.3;
                }
            }

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .top a {
                margin-right: 10px;
                /* Adjust the margin as needed */
            }
            
            /* 파일 두개일때 */
/*--------------------------------------------------------*/
            .product2_image_1 {
                height: 300px;
                width: 350px; 
                border-radius: 50px 0px 0px 50px;
                 border: 2px solid white;
            }

            .product2_image_1>img {
                width: 100%;
                height: 100%;
                border-radius: 50px 0px 0px 50px;
                
            }

            .product2_image_2 {
                height: 300px;
                width: 350px;
                border-radius: 0px 50px 50px 0px;
                 border: 2px solid white;
            }
            .product2_image_2>img {
                width: 100%;
                height: 100%;
                border-radius: 0px 50px 50px 0px;
            }
            
           
/*--------------------------------------------------------*/

/* 파일 한개일때 */
            .product1_image_1 {
                height: 300px;
                width: 650px;
                
                border-radius: 50px 50px 50px 50px;
            }

            .product1_image_1>img {
                width: 100%;
                height: 100%;
                border-radius: 50px 50px 50px 50px;
         
            }
