<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

		<typeAlias type="com.kh.ftd.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.ftd.promotion.model.vo.Promotion" alias="promotion" />

		<!-- 12/08 재영 11:10분 상품 별칭추가 -->
		<typeAlias type="com.kh.ftd.seller.model.vo.Seller" alias="seller" />
		<typeAlias type="com.kh.ftd.seller.model.vo.SellerFile" alias="sellerFile"/>
		<typeAlias type="com.kh.ftd.member.model.vo.Subscribe" alias="subscribe"/>
		<typeAlias type="com.kh.ftd.goods.model.vo.Goods" alias="goods"/>
		<typeAlias type="com.kh.ftd.goods.model.vo.GoodsFile" alias="goodsFile"/>
		<typeAlias type="com.kh.ftd.goods.model.vo.GoodsSell" alias="goodsSell"/>
		<typeAlias type="com.kh.ftd.goods.model.vo.SellReply" alias="sellReply"/>
		
		
		<typeAlias type="com.kh.ftd.promotion.model.vo.PromotionFile" alias="promotionFile"/>
		<typeAlias type="com.kh.ftd.promotion.model.vo.PromotionReply" alias="promotionReply"/>
		<!-- 11/29 성광 12:51분 판매자 별칭추가 -->
		
		<typeAlias type="com.kh.ftd.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.kh.ftd.inquiry.model.vo.Inquiry" alias="inquiry" />
		<typeAlias type="com.kh.ftd.notice.model.vo.NoticeFile" alias="noticeFile"/>
		
		<typeAlias type="com.kh.ftd.order.model.vo.Order" alias="order" />


	</typeAliases>
	
	<!-- 
		environments 영역은 제외
		=> DB 등록은 서버연동과 동시에 스프링이 제일 먼저 알아야 하는 정보이기 때문에
		   root-context.xml 에 기술
	-->
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/promotion-mapper.xml"/>
		
		<mapper resource="/mappers/seller-mapper.xml"/>
		<mapper resource="/mappers/goods-mapper.xml"/>
			
		<mapper resource="/mappers/notice-mapper.xml"/>
		<!-- <mapper resource="/mappers/inquiry-mapper.xml" /> -->
		<mapper resource="/mappers/order-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
	<!--  
		주의사항 : mapper 파일이 없는데도 미리 등록하면 FileNotFoundException 발생
				   또한, mapper 파일이 있지만 namespace 가 없을 경우에도 마찬가지로 오류가 발생함
	-->
	
</configuration>