<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

		<typeAlias type="com.kh.ftd.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.ftd.promotion.model.vo.Promotion" alias="promotion" />
		<typeAlias type="com.kh.ftd.inquiry.model.vo.Inquiry" alias="inquiry" />

	</typeAliases>
	
	<!-- 
		environments 영역은 제외
		=> DB 등록은 서버연동과 동시에 스프링이 제일 먼저 알아야 하는 정보이기 때문에
		   root-context.xml 에 기술
	-->
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/promotion-mapper.xml"/>
		<mapper resource="/mappers/inquiry-mapper.xml" />
	</mappers>
	<!--  
		주의사항 : mapper 파일이 없는데도 미리 등록하면 FileNotFoundException 발생
				   또한, mapper 파일이 있지만 namespace 가 없을 경우에도 마찬가지로 오류가 발생함
	-->
	
</configuration>