<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="goodsMapper">

	<resultMap id="goodsResultSet" type="goods">
		<result column="GOOD_NO" property="goodNo" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="GOOD_TITLE" property="goodTitle" />
		<result column="GOOD_DETAIL" property="goodDetail" />
		<result column="ORIGIN" property="origin" />
		<result column="PRICE" property="price" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="EXPIRATION_DATE" property="expiration" />
		<result column="STOCK" property="stock" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>

	<resultMap id="goodsFileResultSet" type="goodsFile">
		<result column="FILE_NO" property="fileNo" />
		<result column="SELL_NO" property="sellNo" />
		<result column="ORIGINAL_NAME" property="originalName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>

	<resultMap id="sellReplyResultSet" type="sellReply">
		<result column="REPLY_NO" property="replyNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="SELL_NO" property="sellNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>
	
	<resultMap id="goodsSellResultSet" type="goodsSell">
		<result column="SELL_NO" property="sellNo" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="GOOD_NO" property="goodNo" />
		<result column="SELL_TITLE" property="sellTitle" />
		<result column="SELL_CONTENT" property="sellContent" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>
	
	<resultMap id="OrderGoodsResultSet" type="orderGoods">
		<result column="ORDER_DETAIL_NO" property="orderDetailNo" />
		<result column="ORDER_NO" property="orderNo" />
		<result column="GOOD_NO" property="goodNo" />
		<result column="COUNT" property="count" />
		<result column="PRICE" property="price" />
		<result column="STATUS" property="status" />
		<result column="GOOD_TITLE" property="goodTitle" />
		<result column="SELL_NO" property="sellNo" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	
	
	<select id="ajaxSelectGoodsList" resultMap="goodsResultSet">
		SELECT *
		  FROM GOODS G
		  JOIN SELLER S ON (G.SELLER_NO = S.SELLER_NO)
		 WHERE G.DELETE_DATE IS NULL
		   AND S.DELETE_DATE IS NULL
		 ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="ajaxSelectGoodsSellList" parameterType="_int" resultMap="goodsSellResultSet">
		SELECT *
		  FROM GOODS_SELL
		 WHERE GOOD_NO = #{goodNo}
		   AND DELETE_DATE IS NULL
	</select>
	
	<select id="ajaxSelectGoodsFileList" parameterType="_int" resultMap="goodsFileResultSet">
		SELECT *
		  FROM GOODS_FILE
		 WHERE SELL_NO = #{sellNo} 
		   AND DELETE_DATE IS NULL
	</select>
	
	<select id="ajaxSelectStarRating" parameterType="_int" resultType="_double">
		SELECT NVL(TRUNC(AVG(STAR_RATING), 1), 0.0)
		  FROM REVIEW R
		  JOIN GOODS G ON (R.GOOD_NO = G.GOOD_NO)
		  JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
		 WHERE G.GOOD_NO = #{goodNo}
		   AND R.DELETE_DATE IS NULL
		   AND M.STATUS IS NULL
	</select>
	
	<select id="ajaxSelectReviews" parameterType="_int" resultType="_int">
		SELECT NVL(COUNT(R.REV_NO), 0)
		  FROM REVIEW R
		  JOIN GOODS G ON (R.GOOD_NO = G.GOOD_NO)
		  JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
		 WHERE G.GOOD_NO = #{goodNo}
		   AND R.DELETE_DATE IS NULL
		   AND M.STATUS IS NULL
	</select>
	
	<select id="ajaxSelectSellerGoodsList" parameterType="_int" resultMap="goodsResultSet">
		SELECT * 
		  FROM GOODS
		 WHERE SELLER_NO = #{sellerNo}
		   AND DELETE_DATE IS NULL
	</select>
	
	<insert id="insertSellerGoods" parameterType="goods">
		INSERT INTO GOODS(GOOD_NO
		                , SELLER_NO
		                , GOOD_TITLE
		                , GOOD_DETAIL
		                , ORIGIN
		                , PRICE
		                , EXPIRATION_DATE
		                , STOCK)
		           VALUES(SEQ_GNO.NEXTVAL
		                , #{sellerNo}
		                , #{goodTitle}
		                , #{goodDetail}
		                , #{origin}
		                , #{price}
		                , #{expiration}
		                , #{stock})	
	</insert>
	
	<select id="ajaxSelectSellerGoodsTextList" parameterType="_int" resultMap="goodsSellResultSet">
		SELECT *
		  FROM GOODS_SELL
		 WHERE DELETE_DATE IS NULL
		   AND SELLER_NO = #{sellerNo}	
		 ORDER BY CREATE_DATE
	</select>
	
	<select id="ajaxSelectGoodsByGoodNo" parameterType="_int" resultMap="goodsResultSet">	
		SELECT *
		  FROM GOODS
		 WHERE DELETE_DATE IS NULL 
		   AND GOOD_NO = #{goodNo}	
	</select>
	
	<select id="ajaxSelectGoodsMainFileList" parameterType="_int" resultMap="goodsFileResultSet">
		SELECT *
		  FROM GOODS_FILE
		 WHERE SELL_NO = #{sellNo} 
		   AND DELETE_DATE IS NULL
		   AND CREATE_DATE IS NOT NULL
	</select>
	
	<select id="ajaxSelectReplyCount" parameterType="_int" resultType="_int">
		SELECT NVL(COUNT(S.REPLY_NO), 0)
		  FROM SELL_REPLY S
		  JOIN MEMBER M ON (S.MEMBER_NO = M.MEMBER_NO)
		 WHERE S.SELL_NO = #{sellNo} 
		   AND S.DELETE_DATE IS NULL
		   AND M.STATUS IS NULL
	</select>
	
	<select id="memberOrderDetail" parameterType="_int" resultMap="OrderGoodsResultSet">
		SELECT OG.GOOD_NO, G.GOOD_TITLE, OG."COUNT", OG.PRICE, OG.STATUS, S.SELL_NO, F.CHANGE_NAME
		  FROM ORDER_GOODS OG
		  JOIN GOODS G ON (OG.GOOD_NO = G.GOOD_NO)
		  LEFT JOIN GOODS_SELL S ON (G.GOOD_NO = S.GOOD_NO AND S.DELETE_DATE IS NULL)
		  LEFT JOIN GOODS_FILE F ON (S.SELL_NO = F.SELL_NO AND F.CREATE_DATE IS NOT NULL)
		 WHERE ORDER_NO = #{orderNo}
	</select>
	
	<select id="memberLikeList" parameterType="_int" resultMap="goodsResultSet">	
		SELECT G.GOOD_NO, GF.CHANGE_NAME, G.GOOD_TITLE, G.PRICE, G.STOCK, GS.SELL_NO
		  FROM "LIKE" L
		  JOIN GOODS G ON (L.GOOD_NO = G.GOOD_NO AND G.DELETE_DATE IS NULL)
		  LEFT JOIN GOODS_SELL GS ON (G.GOOD_NO = GS.GOOD_NO AND GS.DELETE_DATE IS NULL)
		  LEFT JOIN GOODS_FILE GF ON (GS.SELL_NO = GF.SELL_NO AND GF.CREATE_DATE IS NOT NULL AND GF.DELETE_DATE IS NULL)
		 WHERE MEMBER_NO = #{memberNo}	
	</select>
	
	<select id="ajaxSelectSellerGoodTitle" parameterType="_int" resultMap="goodsResultSet">
		SELECT G2.*
		  FROM GOODS G2
		 WHERE G2.DELETE_DATE IS NULL
		   AND G2.SELLER_NO = #{sellerNo}	
		MINUS
		SELECT G1.* 
		  FROM GOODS G1
		  JOIN GOODS_SELL GS ON (G1.GOOD_NO = GS.GOOD_NO)
		 WHERE G1.DELETE_DATE IS NULL
		   AND GS.DELETE_DATE IS NULL
		   AND G1.SELLER_NO = #{sellerNo}
	</select>
	
	<insert id="insertSellerGoodsText" parameterType="goodsSell">
		INSERT INTO GOODS_SELL(SELL_NO
                             , SELLER_NO
                             , GOOD_NO
                             , SELL_TITLE
                             , SELL_CONTENT)
			            VALUES(SEQ_GSNO.NEXTVAL
			                 , #{sellerNo}
			                 , #{goodNo}
			                 , #{sellTitle}
			                 , #{sellContent})
	</insert>
	
</mapper>
