<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="inquiryMapper">
	
	<resultMap id="inquiryResultSet" type="inquiry">
		<result column="INQ_NO" property="inqNo" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="INQ_TITLE" property="inqTitle" />
		<result column="INQ_CONTENT" property="inqContent" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="RESPONSE_CONTENT" property="resopnseContent" />
		<result column="RESPONSE_DATE" property="responseDate" />
	</resultMap>

	<select id="selectInquiryCount" parameterType="string" resultType="_int">
        SELECT COUNT(*)
		  FROM INQUIRY
		 WHERE DELETE_DATE IS NULL
		   AND SELLER_NO = #{sellerNo}
	</select>
	
	<select id="selectInquiryList" parameterType="string" resultMap="inquiryResultSet">
		SELECT INQ_NO
		     , MEMBER_NO
		     , INQ_TITLE
		     , COUNT
		     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		     , RESPONSE_DATE
		  FROM INQUIRY
		 WHERE DELETE_DATE IS NULL
		   AND SELLER_NO = #{sellerNo}
		 ORDER BY INQ_NO DESC
	</select>

</mapper>