<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>
	
	<resultMap id="noticeFileResultSet" type="noticeFile">
		<result column="FILE_NO" property="fileNo" />
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>
	
	<select id="selectNoticeCount" resultType="_int">
        SELECT COUNT(*)
		  FROM NOTICE
		 WHERE DELETE_DATE IS NULL
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , COUNT
		     , CREATE_DATE
		  FROM NOTICE
		 WHERE DELETE_DATE IS NULL
		 ORDER BY NOTICE_NO DESC
	</select>
	
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO NOTICE(NOTICE_NO
		                , NOTICE_TITLE
		                , NOTICE_CONTENT)
		           VALUES(SEQ_NNO.NEXTVAL
		                , #{noticeTitle}
		                , #{noticeContent})
	</insert>
	
	<insert id="insertFile" parameterType="noticeFile">
		INSERT INTO NOTICE_FILE(FILE_NO
							  , NOTICE_NO
							  , ORIGIN_NAME
							  , CHANGE_NAME)
					 	 VALUES(SEQ_NFNO.NEXTVAL
					 	 	  , SEQ_NNO.CURRVAL
					 	 	  , #{originName}
					 	 	  , #{changeName})
	</insert>

</mapper>