<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="orderResultSet" type="order">
		<result column="ORDER_NO" property="orderNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="ORDER_NAME" property="orderName" />
		<result column="PHONE" property="phone" />
		<result column="PRICE" property="price" />
		<result column="ZIP_CODE" property="zipCode" />
		<result column="ADDRESS" property="address" />
		<result column="DETAIL_ADDRESS" property="detailAddress" />
		<result column="REQUEST" property="request" />
		<result column="PAY_TID" property="payTid" />
		<result column="PAY_METHOD" property="payMethod" />
		<result column="PAY_DATE" property="payDate" />
		<result column="PAY_CANCEL" property="payCancel" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap id="cartResultSet" type="cart">
		<result column="CART_NO" property="cartNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="GOOD_NO" property="goodNo" />
		<result column="COUNT" property="count" />
		<result column="STATUS" property="status" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="GOOD_TITLE" property="goodTitle" />
		<result column="PRICE" property="price" />
	</resultMap>
	
	<insert id="paySuccess" parameterType="order">
		INSERT INTO "ORDER"(ORDER_NO, MEMBER_NO, ORDER_NAME, PHONE, PRICE, ZIP_CODE, ADDRESS, DETAIL_ADDRESS, REQUEST, PAY_TID, PAY_METHOD)
				     VALUES(SEQ_ONO.NEXTVAL, #{memberNo}, #{orderName}, #{phone}, #{price}, #{zipCode}, #{address}, #{detailAddress}, #{request}, #{payTid}, #{payMethod})
	</insert>
	
	<select id="memberBasketList" parameterType="_int" resultMap="cartResultSet">
		SELECT C.CART_NO, C.GOOD_NO, F.CHANGE_NAME, G.GOOD_TITLE, C."COUNT", G.PRICE
		  FROM CART C
		  JOIN GOODS G ON C.GOOD_NO = G.GOOD_NO
		  LEFT JOIN GOODS_SELL S ON (G.GOOD_NO = S.GOOD_NO AND S.DELETE_DATE IS NULL)
		  LEFT JOIN GOODS_FILE F ON (S.SELL_NO = F.SELL_NO AND F.CREATE_DATE IS NOT NULL)
		 WHERE C.MEMBER_NO = #{memberNo}
		   AND STATUS = 'N'
		   AND G.STOCK > 0
	</select>
	
	<select id="selectPeyNumber" parameterType="order" resultType="_int">
		SELECT ORDER_NO
		  FROM "ORDER"
		 WHERE PAY_TID = #{payTid}
	</select>
	
	<insert id="insertOrderGoods" parameterType="orderGoods">
		INSERT INTO ORDER_GOODS(ORDER_DETAIL_NO, ORDER_NO, GOOD_NO, "COUNT", PRICE)
                         VALUES(SEQ_OGNO.NEXTVAL, #{orderNo}, #{goodNo}, #{count}, #{price})
	</insert>
	
	<update id="updateBuyCart" parameterType="cart">
		UPDATE CART
		   SET STATUS = 'Y'
		 WHERE MEMBER_NO = #{memberNo}
		   AND GOOD_NO = #{goodNo}
	</update>
	
	<delete id="ajaxDeleteCart" parameterType="cart">
		DELETE
		  FROM CART
		 WHERE MEMBER_NO = #{memberNo}
		   AND GOOD_NO = #{goodNo}
		   AND STATUS = 'N'
	</delete>
	
	<select id="memberOrderList" parameterType="_int" resultMap="orderResultSet">
		SELECT ORDER_NO, PRICE, PAY_DATE, REQUEST
		  FROM "ORDER"
		 WHERE MEMBER_NO = #{memberNo}
	</select>
	
</mapper>