<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="promotionMapper">
	
	<resultMap id="promotionResultSet" type="promotion">
		<result column="PROMOTION_NO" property="promotionNo" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="PROMOTION_TITLE" property="promotionTitle" />
		<result column="PROMOTION_CONTENT" property="promotionContent" />
		<result column="COUNT" property="count" /> <!-- 별칭 -->
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
	</resultMap>
	
	<resultMap id="sellerResultSet" type="seller">
		<result column="SELLER_NO" property="sellerNo"/>
		<result column="COMPANY_NAME" property="companyName" />
		<result column="SELLER_ID" property="sellerId"/>
		<result column="SELLER_PWD" property="sellerPwd"/>
		<result column="SELLER_NAME" property="sellerName"/>
		<result column="COMPANY_NO" property="companyNo"/>
		<result column="BUSINESS_NO" property="businessNo" />
		<result column="ADDRESS" property="address"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ACCOUNT_NO" property="accountNo"/>
		<result column="DELETE_DATE" property="deleteDate"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="ACCEPT_DATE" property="acceptDate"/>
		<result column="REFUSE_REASON" property="refuseReason"/>
	</resultMap>
	
	<resultMap id="sellerFileResultSet" type="sellerFile">
		<result column="FILE_NO" property="fileNo"/>
		<result column="SELLER_NO" property="sellerNo" />
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate"/>
	</resultMap>
	
	<resultMap id="promotionFileResultSet" type="promotionFile">
		<result column="FILE_NO" property="fileNo"/>
		<result column="PROMOTION_NO" property="promotionNo" />
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate"/>
	</resultMap>
	
	<resultMap id="promotionReplyResultSet" type="promotionReply">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="PROMOTION_NO" property="promotionNo" />
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate"/>
		<result column="MEMBER_ID" property="memberNo"/>
	</resultMap>
	
	
	<select id="selectPromotionList" resultMap="promotionResultSet">
	SELECT 
	    P.PROMOTION_NO,
	    P.SELLER_NO,
	    P.PROMOTION_TITLE,
	    P.PROMOTION_CONTENT,
	    P.COUNT,
	    P.CREATE_DATE,
	    P.DELETE_DATE
	FROM 
	    PROMOTION P
	    JOIN SELLER S ON P.SELLER_NO = S.SELLER_NO
	WHERE 
	    S.DELETE_DATE IS NULL
	AND
		P.DELETE_DATE IS NULL
	ORDER BY 
	    P.PROMOTION_NO DESC
	</select>
	
	<select id="selectSellerList" resultMap="sellerResultSet" parameterType="_int">
		SELECT *
		FROM SELLER
		WHERE SELLER_NO = #{sellerNo} 
		AND DELETE_DATE IS NULL
	</select>
	
	<select id="selectSellerFileProfileList" resultMap="sellerFileResultSet" parameterType="_int">
		SELECT *
		FROM SELLER_FILE
		WHERE SELLER_NO = #{sellerNo} 
		AND DELETE_DATE IS NULL
	</select>
	
	<select id="selectPromotionFileList" resultMap="promotionFileResultSet" parameterType="_int">
		SELECT *
		FROM PROMOTION_FILE
		WHERE PROMOTION_NO = #{promotionNo}
		AND DELETE_DATE IS NULL
	</select>
	
	<select id="selectPromotionReplyCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) COUNT
		  FROM PROMOTION_REPLY
		 WHERE PROMOTION_NO = #{promotionNo}
		 AND DELETE_DATE IS NULL
	</select>
	
	<update id="increaseCount"  parameterType="_int">
		UPDATE PROMOTION
		   SET COUNT = COUNT + 1
		 WHERE PROMOTION_NO = #{promotionNo}
		    AND DELETE_DATE IS NULL
	</update>
	
	<select id="selectPromotion" resultMap="promotionResultSet" parameterType="_int">
		SELECT *
		FROM PROMOTION
		WHERE PROMOTION_NO = #{promotionNo} 
		AND DELETE_DATE IS NULL
	</select>
	
	
	
	<select id="selectPromotionReplyList" resultMap="promotionReplyResultSet" parameterType="_int">
		SELECT P.REPLY_NO,
			   P.PROMOTION_NO,
			   M.MEMBER_ID,
			   P.REPLY_CONTENT,
			   P.CREATE_DATE,
			   P.DELETE_DATE
		FROM PROMOTION_REPLY P
		JOIN MEMBER M ON M.MEMBER_NO = P.MEMBER_NO
		WHERE PROMOTION_NO = #{promotionNo}
		AND P.DELETE_DATE IS NULL
	</select>
	
	<select id="reviewCount" resultType="_int" parameterType="_int">
		SELECT COUNT(REV_NO)
		  FROM REVIEW R
		  JOIN GOODS G ON(R.GOOD_NO = G.GOOD_NO)
		  JOIN MEMBER M ON (R.MEMBER_NO = M.MEMBER_NO)
		 WHERE G.SELLER_NO = 1
		   AND M.STATUS IS NULL
		   AND R.DELETE_DATE IS NULL
		   AND G.DELETE_DATE IS NULL
	</select>

	<insert id="insertPromotion" parameterType="promotion">
		INSERT INTO PROMOTION(PROMOTION_NO
                        , SELLER_NO
		                , PROMOTION_CONTENT)
		           VALUES(SEQ_PNO.NEXTVAL
                        , #{sellerNo}
		                , #{promotionContent})
	</insert>
	
	<insert id="insertFile" parameterType="promotion">
		INSERT INTO PROMOTION_FILE(FILE_NO
							  , PROMOTION_NO
							  , ORIGINAL_NAME
							  , CHANGE_NAME)
					 	 VALUES(SEQ_PFNO.NEXTVAL
					 	 	  , SEQ_PNO.CURRVAL
					 	 	  , #{originalName}
					 	 	  , #{changeName})
	</insert>
	
	<insert id="updateFile" parameterType="promotion">
		INSERT INTO PROMOTION_FILE(FILE_NO
							  , PROMOTION_NO
							  , ORIGINAL_NAME
							  , CHANGE_NAME)
					 	 VALUES(SEQ_PFNO.NEXTVAL
					 	 	  , #{promotionNo}
					 	 	  , #{originalName}
					 	 	  , #{changeName})
	</insert>
	
	
	<update id="updatePromotion" parameterType="promotion">
		UPDATE PROMOTION
		   SET PROMOTION_CONTENT = #{promotionContent}
		 WHERE PROMOTION_NO = #{promotionNo}
		   AND DELETE_DATE IS NULL
	</update>
	
	<update id="deletePromotion" parameterType="_int">
		UPDATE PROMOTION
		   SET DELETE_DATE = SYSDATE
		 WHERE PROMOTION_NO = #{pno}
	</update>
	
	<update id="deletePromotionFile" parameterType="_int">
		UPDATE PROMOTION_FILE
		   SET DELETE_DATE = SYSDATE
		 WHERE PROMOTION_NO = #{pno}
	</update>
	
	<insert id="insertPromotionReply" parameterType="promotionReply">
		INSERT INTO PROMOTION_REPLY(REPLY_NO
							  , PROMOTION_NO
							  , MEMBER_NO
							  , REPLY_CONTENT
							  , CREATE_DATE)
					 	 VALUES(SEQ_PRNO.NEXTVAL
					 	 	  , #{promotionNo}
					 	 	  , #{memberNo}
					 	 	  , #{replyContent}
					 	 	  , SYSDATE)
			
	</insert>
	
	<update id="deletePromotionReply" parameterType="promotionReply">
		UPDATE PROMOTION_REPLY
		   SET DELETE_DATE = SYSDATE
		 WHERE PROMOTION_NO = #{promotionNo}
		   AND REPLY_NO = #{replyNo}
		   AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="updatePromotionReply" parameterType="promotionReply">
		UPDATE PROMOTION_REPLY
		   SET REPLY_CONTENT = #{replyContent}
		   	  ,CREATE_DATE = SYSDATE
	 	 WHERE PROMOTION_NO = #{promotionNo}
		   AND REPLY_NO = #{replyNo}
		   AND MEMBER_NO = #{memberNo}
	</update>
	
	
	<select id="selectPromotionSellerList" resultMap="promotionResultSet">
	SELECT 
	    P.PROMOTION_NO,
	    P.SELLER_NO,
	    P.PROMOTION_TITLE,
	    P.PROMOTION_CONTENT,
	    P.COUNT,
	    P.CREATE_DATE,
	    P.DELETE_DATE
	FROM 
	    PROMOTION P
	    JOIN SELLER S ON P.SELLER_NO = S.SELLER_NO
	WHERE 
	    S.DELETE_DATE IS NULL
	AND
		P.DELETE_DATE IS NULL
	AND
		P.SELLER_NO = #{sellerNo}
	ORDER BY 
	    P.PROMOTION_NO DESC
	</select>
	
</mapper>
