<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap id="reviewResultSet" type="review">
		<result column="REV_NO" property="revNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="GOOD_NO" property="goodNo" />
		<result column="REV_TITLE" property="revTitle" />
		<result column="REV_CONTENT" property="revContent" />
		<result column="COUNT" property="count" /> <!-- 별칭 -->
		<result column="STAR_RATING" property="starRating" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="MEMBER_ID" property="memberNo"/>
		<result column="GOOD_TITLE" property="goodTitle"/>
	
	</resultMap>

	<resultMap id="reviewFileResultSet" type="reviewFile">
		<result column="FILE_NO" property="fileNo"/>
		<result column="REV_NO" property="revNo" />
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate"/>
	</resultMap>
	
	<resultMap id="reviewReplyResultSet" type="reviewReply">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REV_NO" property="revNo" />
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate"/>
		<result column="MEMBER_ID" property="memberNo"/>
	</resultMap>

	<resultMap id="goodsFileResultSet" type="goodsFile">
			<result column="FILE_NO" property="fileNo" />
			<result column="SELL_NO" property="sellNo" />
			<result column="ORIGINAL_NAME" property="originalName" />
			<result column="CHANGE_NAME" property="changeName" />
			<result column="CREATE_DATE" property="createDate" />
			<result column="DELETE_DATE" property="deleteDate" />
		</resultMap>
		
	<resultMap id="goodsSellResultSet" type="goodsSell">
		<result column="SELL_NO" property="sellNo" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="GOOD_NO" property="goodNo" />
		<result column="SELL_TITLE" property="sellTitle" />
		<result column="SELL_CONTENT" property="sellContent" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="GOOD_TITLE" property="sellTitle" />
		<result column="PRICE" property="count" />
	</resultMap>

	<select id="selectReviewList" resultMap="reviewResultSet">
		SELECT 
		    R.REV_NO,
		    M.MEMBER_ID,
		    R.GOOD_NO,
		    R.REV_TITLE,
		    R.REV_CONTENT,
		    R.COUNT,
		    R.STAR_RATING,
		    R.CREATE_DATE,
		    R.DELETE_DATE
		FROM 
		    REVIEW R
		JOIN 
		    MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
		JOIN 
		    GOODS G ON R.GOOD_NO = G.GOOD_NO
		WHERE 
		    M.STATUS IS NULL
		    AND R.DELETE_DATE IS NULL
		    AND G.DELETE_DATE IS NULL
		ORDER BY 
		    R.REV_NO DESC
	</select>
	
	<select id="selectReviewFileList" resultMap="reviewFileResultSet" parameterType="_int">
    SELECT *
		FROM REVIEW_FILE
		WHERE REV_NO = ${rno}
		AND DELETE_DATE IS NULL   
	</select>
	
	<select id="ReviewReplyCount" resultType="_int" parameterType="_int">
	  SELECT COUNT(*) COUNT
		  FROM REVIEW_REPLY
		 WHERE REV_NO = ${rno}
		 AND DELETE_DATE IS NULL
		 
	</select>
	
	<select id="selectGoodsFileList" resultMap="goodsFileResultSet" parameterType="_int">
	  SELECT GF.FILE_NO
	             , GF.SELL_NO
	             , GF.ORIGINAL_NAME
	             , GF.CHANGE_NAME
	             , GF.CREATE_DATE
	             , GF.DELETE_DATE
	    FROM GOODS_FILE GF
	    JOIN GOODS_SELL GS ON GS.SELL_NO = GF.SELL_NO
	    WHERE GS.GOOD_NO = #{gno}  
	    AND GS.DELETE_DATE IS NULL
	    AND GF.DELETE_DATE IS NULL
	</select>
	
	<select id="selectGoodsList" resultMap="goodsSellResultSet" parameterType="_int">
	         SELECT
                    GS.SELL_NO,
                    GS.SELLER_NO,
                    GS.GOOD_NO,
                    G.GOOD_TITLE,
                    GS.SELL_CONTENT,
                    G.PRICE,
                    GS.CREATE_DATE,
                    GS.DELETE_DATE
	    FROM GOODS_SELL GS
        JOIN GOODS G ON G.GOOD_NO = GS.GOOD_NO
	    WHERE GS.GOOD_NO = #{gno}
	    AND GS.DELETE_DATE IS NULL
        AND G.DELETE_DATE IS NULL
	</select>
	
	<update id="increaseCount"  parameterType="_int">
		UPDATE REVIEW
		SET COUNT = COUNT + 1
		WHERE REV_NO = #{rno}
		AND DELETE_DATE IS NULL
	</update>
	
	<select id="selectReview" resultMap="reviewResultSet" parameterType="_int">
	      	SELECT 
		    R.REV_NO,
		    M.MEMBER_ID,
		    R.GOOD_NO,
		    R.REV_TITLE,
		    R.REV_CONTENT,
		    R.COUNT,
		    R.STAR_RATING,
		    R.CREATE_DATE,
		    R.DELETE_DATE
		FROM 
		    REVIEW R
		JOIN 
		    MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
		JOIN 
		    GOODS G ON R.GOOD_NO = G.GOOD_NO
		WHERE 
		    M.STATUS IS NULL
		    AND R.DELETE_DATE IS NULL
		    AND G.DELETE_DATE IS NULL
            AND R.REV_NO = #{rno}
		ORDER BY 
		    R.REV_NO DESC
	</select>
	
	<select id="selectReviewReplyList" resultMap="reviewReplyResultSet" parameterType="_int">
		SELECT R.REPLY_NO,
			   R.REV_NO,
			   M.MEMBER_ID,
			   R.REPLY_CONTENT,
			   R.CREATE_DATE,
			   R.DELETE_DATE
		FROM REVIEW_REPLY R
		JOIN MEMBER M ON M.MEMBER_NO = R.MEMBER_NO
		WHERE REV_NO = #{rno} 
		AND R.DELETE_DATE IS NULL
	</select>
	
	<insert id="insertReviewReply" parameterType="reviewReply">
		INSERT INTO REVIEW_REPLY(REPLY_NO
							  , REV_NO
							  , MEMBER_NO
							  , REPLY_CONTENT
							  , CREATE_DATE)
					 	 VALUES(SEQ_RRNO.NEXTVAL
					 	 	  , #{revNo}
					 	 	  , #{memberNo}
					 	 	  , #{replyContent}
					 	 	  , SYSDATE)
			
	</insert>
	
	<update id="updateReviewReply" parameterType="reviewReply">
		UPDATE REVIEW_REPLY
		   SET REPLY_CONTENT = #{replyContent}
		   	  ,CREATE_DATE = SYSDATE
	 	 WHERE REV_NO = #{revNo}
		   AND REPLY_NO = #{replyNo}
		   AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="deleteReviewReply" parameterType="reviewReply">
		UPDATE REVIEW_REPLY
		   SET DELETE_DATE = SYSDATE
		 WHERE REV_NO = #{revNo}
		   AND REPLY_NO = #{replyNo}
		   AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="deleteReview" parameterType="_int">
		UPDATE REVIEW
		   SET DELETE_DATE = SYSDATE
		 WHERE REV_NO = #{rno}
	</update>
	
	<update id="deleteReviewFile" parameterType="_int">
		UPDATE REVIEW_FILE
		   SET DELETE_DATE = SYSDATE
		 WHERE REV_NO = #{rno}
	</update>
	

	<select id="selectReviewSellerList" resultMap="reviewResultSet">
	SELECT DISTINCT
	    R.REV_NO,
	    M.MEMBER_ID,
	    R.GOOD_NO,
	    R.REV_TITLE,
	    R.REV_CONTENT,
	    R.COUNT,
	    R.STAR_RATING,
	    R.CREATE_DATE,
	    R.DELETE_DATE
	FROM 
	    REVIEW R
	    JOIN GOODS G ON (R.GOOD_NO = G.GOOD_NO)
        JOIN MEMBER M ON(R.MEMBER_NO = M.MEMBER_NO)
        JOIN SELLER S ON (G.SELLER_NO = S.SELLER_NO)
	WHERE 
	    R.DELETE_DATE IS NULL
	AND
		G.DELETE_DATE IS NULL
	AND
        S.DELETE_DATE IS NULL
    AND
       M.STATUS IS NULL
    AND
		S.SELLER_NO = #{sellerNo}
	ORDER BY 
	    R.REV_NO DESC
	</select>

	<select id="memberBoardList" parameterType="_int" resultMap="reviewResultSet">
		SELECT R.REV_NO, G.GOOD_TITLE, R.REV_TITLE, R.CREATE_DATE
		  FROM REVIEW R
		  JOIN GOODS G ON(R.GOOD_NO = G.GOOD_NO)
		 WHERE R.MEMBER_NO = #{memberNo}
		   AND R.DELETE_DATE IS NULL
	</select>
	
	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW (REV_NO
							   , MEMBER_NO
							   , GOOD_NO
							   , REV_CONTENT
							   , STAR_RATING)
					 	  VALUES(SEQ_RNO.NEXTVAL
					 	 	   , #{memberNo}
					 	 	   , #{goodNo}
					 	 	   , #{revContent}
					 	 	   , #{starRating})
			
	</insert>
	
	<update id="updateReview" parameterType="review">
	UPDATE REVIEW
	   SET REV_CONTENT = #{revContent},
	       STAR_RATING = #{starRating}
	   WHERE REV_NO = #{revNo}
	   AND DELETE_DATE IS NULL
	</update>

</mapper>